@page
@model PoEManagementWeb.Pages.Logworks.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LogWork</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogWork.WorkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogWork.WorkingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogWork.WorkingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogWork.WorkingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogWork.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogWork.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogWork.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogWork.Employee.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LogWork.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
