@page
@model IndexModel

@using Microsoft.AspNetCore.Http;
@using PoEManagementLib.BusinessObject;
@using PoEManagementLib.DataAccess.Repository;
@{
    IAccountRepository customerRepository = new AccountRepository();
    string LoginEmail = HttpContext.Session.GetString("LoginEmail");
    string ManagerEmail = HttpContext.Session.GetString("ManagerEmail");
    Account account = customerRepository.GetAccountByEmail(LoginEmail);
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<a style="padding-right: 2em; color:red">@TempData["Error"]</a>
<h1>Recruitments for Job:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recuitment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recuitment[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recuitment[0].Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Recuitment[0].Deleted)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recuitment)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>*@
            @{
                if (ManagerEmail == null)
                {
                    <td>
                        <p>
                            @*<a href="/Applications/Create?Email=@LoginEmail">Apply now!</a>*@
                            <a href="/Apply?RecuitmentId=@item.Id">Apply now!</a>
                        </p>
                    </td>
                }
            }

        </tr>
        }
    </tbody>
</table>