@page
@model PoEManagementWeb.Pages.Bonuses.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bonus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.BonusMoney)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.BonusMoney)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Fine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Fine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bonus.Employee.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bonus.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
